[Unit]
Description=go-dev-monitor service
After=network-online.target
[Service]
Environment=HOME=/home/guionardo
ExecStart=/home/guionardo/go/bin/gdm serve
[Install]
WantedBy=multi-user.target
